<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <title>게시판리스트</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />

    <script src="../js/include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="../include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section>
            <div class="page-title">
              <h2 class="title">게시판 상세</h2>
              <p class="title-desc">SK 렌터카의 새로운 소식과 정보들을 한곳에서 확인할 수 있어요.</p>
            </div>
          </section>
          <section>
            <div class="board-wrap view">
              <div class="board-title">
                <p class="title">[안내] 8월 동탄매매센터 휴무 일정 안내</p>
                <div class="writer-info">
                  <div class="name">작성자</div>
                  <div class="date">2023-08-28</div>
                  <div class="file">
                    <a href=""><i class="icon excel"></i>파일명.확장자</a>
                    <a href="">파일명.확장자</a>
                    <a href="">파일명.확장자</a>
                  </div>
                </div>
              </div>
              <div class="board-content">
                <p>안녕하세요. SK 렌터카 중고차입니다.</p>
                <p></p>
                <p>2023년 05월 02일 오토인사이드 시스템 점검에 따라 사이트 이용이 일시 중지될 예정입니다.</p>
                <p></p>
                <p>사이트 점검</p>
                <p>일자 : 2023년 05월 02일(화)</p>
                <p>시간 : 07:00 ~ 08:00</p>
                <p></p>
                <p>해당시간내에 사이트 접속이 원할하지 않으니 이용에 참고해주시기 바랍니다.</p>
                <p>서비스 이용에 불편을 드려 죄송합니다.</p>
              </div>
            </div>

            <div role="navigation" class="paging-wrap">
              <a href="" class="first"></a>
              <a href="" class="prev"></a>
              <ol>
                <li class="page-btn"><a href="page=1" class="this">1</a></li>
                <li class="page-btn"><a href="page=2">2</a></li>
                <li class="page-btn"><a href="page=3">3</a></li>
                <li class="page-btn"><a href="page=4">4</a></li>
              </ol>
              <a href="" class="next"></a>
              <a href="" class="last"></a>
            </div>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="../include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="../include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>

  <script>
    includeHTML();
  </script>
</html>
