<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">

    <script src="../../js/include.js"></script>

  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="../include/header.html"></div>
      <!-- headerWrap -->

      <main style="height:800px;">
        <aside w3-include-html="../include/aside.html"></aside>
        <article>
          <section class="product-list">
            <div class="card-box">
              <div class="cards">
                <div class="card-thum">
                  <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지"></a>
                </div>
                <div class="card-content">
                  <div class="title"><a href="">제품 이름</a></div>
                  <div class=""><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                  <div class="">
                    <div class="price">2,196만원</div>
                  </div>
                </div>
              </div>
              <div class="btn-box"><button class="primary">비교하기</button><button class="">상담하기</button></div>
            </div>


            <div class="card">
              <div class="card-thum">
                <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지"></a>
              </div>
              <div class="card-content">
                <div class="title"><a href="">제품 이름</a></div>
                <div class=""><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                <div class="price-area">
                  <div class="price">2,196만원</div>
                  <div class="btn-box"><button class=""><i class=""></i>비교하기</button><button class="">상담하기</button></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-thum">
                <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지"></a>
              </div>
              <div class="card-content">
                <div class="title"><a href="">제품 이름</a></div>
                <div class=""><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                <div class="">
                  <div class="price">2,196만원</div>
                  <div class="btn-box"><button class="">비교하기</button><button class="">상담하기</button></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-thum">
                <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지"></a>
              </div>
              <div class="card-content">
                <div class="title"><a href="">제품 이름</a></div>
                <div class=""><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                <div class="">
                  <div class="price">2,196만원</div>
                  <div class="btn-box"><button class="">비교하기</button><button class="">상담하기</button></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-thum">
                <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지"></a>
              </div>
              <div class="card-content">
                <div class="title"><a href="">제품 이름</a></div>
                <div class=""><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                <div class="">
                  <div class="price">2,196만원</div>
                  <div class="btn-box"><button class="">비교하기</button><button class="">상담하기</button></div>
                </div>
              </div>
            </div>
          </section>

          <section>
            section
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="../include/quick.html"></article>
        <!-- //quick -->
      </main>
    
      <!-- footer -->
      <footer w3-include-html="../include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>

 
  
<script>
  includeHTML();
</script>
 
</html>