@charset "UTF-8";

// @import url("reset.css");
// @import url("fonts.css");
// @import url("common.css");
// @import url("memebers.css");
// @import url("layout.css");

/***** BBS *****/
.flex {
  display: flex;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.bbs {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: transparent;

  .copyright {
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 11px;
    line-height: 16px;
    position: fixed;
    bottom: 42px;
    max-width: 1200px;
  }

  .bbs-wrap {
    border-radius: 0;
    padding: 0;
    display: flex;
    max-width: 1200px;
    width: calc(100vw - 64px);
    flex-wrap: wrap;
    align-items: flex-start;
    border: none;
    background: transparent;
    margin-top: 60px;

    .form {
      width: 100%;

      .form-control {
        position: relative;
      }
    }
  }
}

/* table style */
.table-default {
  width: 100%;
  border-top: 2px solid #000;

  caption {
    display: none;
  }

  thead {
    th {
      background: #f5f5f5;
      text-align: center;
      padding: 15px 20px;
      font-family: "Pretendard";
      font-size: 18px;
      color: #50555c;
      font-weight: 700;
      border-left: none;
      border-bottom: 1px solid #dce5e5;
      vertical-align: middle;
      position: relative;

      &:after {
        content: "";
        display: inline-block;
        clear: both;
        width: 1px;
        height: 34px;
        background: #dce5e5;
        position: absolute;
        right: 0;
        top: 13px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:first-child {
        border-left: none;
      }
    }
  }

  tbody {
    th {
      background: #fefcf9;
      text-align: center;
      padding: 15px 20px;
      font-family: "Pretendard";
      font-size: 16px;
      color: #677272;
      font-weight: 400;
      border-right: 1px solid #dce5e5;
      border-bottom: 1px solid #dce5e5;
      vertical-align: middle;

      &:last-child {
        border-right: none;
      }
    }

    td {
      text-align: center;
      padding: 17px 20px;
      color: #677272;
      font-family: "Pretendard";
      font-size: 16px;
      letter-spacing: 0;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      vertical-align: middle;

      &:last-child {
        border-right: none;
      }

      .merge {
        border-right: 0;
      }

      &.fwb {
        font-weight: bold;
      }
    }
  }

  &.cnt-center {
    th,
    td {
      text-align: center !important;
    }
  }

  .text-l {
    text-align: left !important;
  }

  &.wb {
    tbody {
      td {
        word-break: keep-all;

        &.br {
          border-right: 1px solid #ddd;
        }

        &.fwb {
          font-weight: bold;
        }
      }
    }
  }

  &.tb-my {
    border-top: 1px solid #666;
  }
}

span {
  &.status-wait {
    color: #2cb8cb;
    min-width: 110px;
  }

  &.Button {
    border: none;
    outline: none;
  }

  &.status-wait {
    &:before {
      content: "";
      display: inline-block;
      background: center center no-repeat;
      background-image: url("../img/bbs/ico_status_wait.png");
      width: 9px;
      height: 2px;
      padding-right: 13px;
      padding-bottom: 10px;
    }
  }

  &.status-confirm {
    color: #ea002c;
    min-width: 110px;

    &:before {
      content: "";
      display: inline-block;
      background: center center no-repeat;
      background-image: url("../img/bbs/ico_status_confirm.png");
      width: 10px;
      height: 8px;
      padding-right: 13px;
      padding-bottom: 2px;
    }
  }

  &.status-cancel {
    color: #4e4bf3;
    min-width: 110px;

    &:before {
      content: "";
      display: inline-block;
      background: center center no-repeat;
      background-image: url("../img/bbs/ico_status_cancel.png");
      width: 7px;
      height: 7px;
      padding-right: 13px;
      padding-bottom: 5px;
    }
  }
}

/* table photo */
.bbs {
  &.photo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: transparent;

    .bbs-wrap {
      &.photo {
        border-radius: 0;
        padding: 0;
        display: flex;
        max-width: 1200px;
        width: calc(100vw - 64px);
        flex-wrap: wrap;
        align-items: flex-start;
        border: none;
        background: transparent;
        margin-top: 23px;

        .form {
          width: 100%;

          .form-control {
            position: relative;
          }
        }
      }
    }

    .table-default {
      tbody {
        td {
          border-right: none;
          border-bottom: none;
          padding: 20px 8px 20px 9px;
          text-align: center;
          border-bottom: 1px solid #ddd;

          &:first-child {
            padding-left: 8px;
          }

          &:last-child {
            padding-right: 9px;
          }
        }
      }
    }

    .btn-wrap {
      width: 100%;
      display: flex;
      gap: 0 10px;
      margin-bottom: 23px;
      justify-content: space-between;

      .btn-box {
        width: 100%;
        display: flex;
        gap: 0 6px;
        margin-top: 44px;
        justify-content: space-between;

        &.left {
          justify-content: flex-start;
        }

        &.right {
          justify-content: flex-end;
        }

        button {
          width: auto;
          padding: 7px 11px 7px 13px;
          border-radius: 5px;
          color: var(--color-text);
          color: #858b93;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 1rem;
          border: 1px solid #e7eaf0;
          height: 32px;
        }

        .btn-default {
          color: #858b93;
          background: #fff;
          border-color: var(--gray-03);
          border: 1px solid #e7eaf0;

          &.active {
            color: #2e3033;
            background: #fff;
            border-color: var(--gray-03);
            border: 1px solid #b5b9c0;
            font-weight: 700;
            padding-left: 11px;

            &:before {
              content: "";
              display: inline-block;
              background: center center no-repeat;
              background-image: url("../img/bbs/ico_check_on.png");
              width: 12px;
              height: 18px;
              padding-right: 2px;
              vertical-align: middle;
            }
          }

          &.delete {
            padding-left: 7px;

            &:before {
              content: "";
              display: inline-block;
              background: center center no-repeat;
              background-image: url("../img/bbs/ico_btn_close.png");
              width: 18px;
              height: 18px;
              padding-right: 4px;
              vertical-align: middle;
            }
          }
        }
      }
    }

    table {
      .btn-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 8px 0;
        margin-top: 0;
      }

      .btn-default {
        &.compare {
          width: auto;
          padding: 7px 32px;
          border-radius: 8px;
          color: var(--txt-02);
          color: #50555c;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 1rem;
          border: 1px solid #b5b9c0;
          height: 46px;
        }

        &.reservation {
          width: auto;
          padding: 7px 32px;
          border-radius: 8px;
          /* color:var(--txt-02); */
          color: #fa4e29;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 1rem;
          border: 1px solid #fa4e29;
          height: 46px;
        }

        &.icon-only {
          width: auto;
          padding: 0;
          border-radius: 0;
          color: unset;
          text-align: center;
          font-size: unset;
          font-weight: unset;
          line-height: unset;
          border: none;
          height: 30px;

          &.closing {
            padding-left: 7px;

            &:before {
              content: "";
              display: inline-block;
              background: center center no-repeat;
              background-image: url("../img/bbs/ico_btn_closing.png");
              width: 30px;
              height: 30px;
              padding-right: 0;
              vertical-align: middle;
            }
          }
        }
      }

      .goods-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        p {
          display: inline-block;

          &.goods-title {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: #2e3033;
          }

          &.goods-desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: var(--gray-800);
            color: #858b93;
            margin-bottom: 18px;
          }

          &.goods-price {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            color: var(--txt-defult);
            color: #2e3033;

            .number {
              font-weight: 700;
            }
          }
        }

        .btn-primary {
          border-radius: 5px;
          background: linear-gradient(90deg, #f81840 0.18%, #ff4f04 64.49%, #ff8e26 99.97%);
          color: #fff;
          font-size: 11px;
          font-weight: 600;
          line-height: 20px;
          padding: 0 8px;
        }
      }

      .btn-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        margin-bottom: 7px;
      }
    }
  }
}

/* checkbox */
.checkbox-wrap {
  span {
    position: relative;
    display: block;
    margin: 0;

    &.text {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    input[type="checkbox"] {
      display: none;

      + label {
        &::before {
          position: relative;
          display: inline-block;
          top: 0;
          left: 0;
          content: "";
          width: 30px;
          height: 30px;
          background-image: url("../img/bbs/img_checkbox_check.png");
          background-repeat: no-repeat;
          background-position: center center;
          transition: all 0.2s linear 0s;
        }

        &::after {
          position: absolute;
          display: inline-block;
          top: 0;
          left: 0;
          opacity: 0;
          content: "";
          width: 30px;
          height: 30px;
          background-image: url("../img/bbs/img_checkbox_check.png");
          background-repeat: no-repeat;
          background-position: center center;
          transition: all 0.2s linear 0s;
        }
      }

      &:checked {
        + label {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* 공통 */
// .btn-primary {
//   background: linear-gradient(70deg, #ff7d00 -1%, #F35B5B 37%, #fe532d 116.61%);
//   color: #fff;
// }

// .btn-gray {
//   background-color: var(--bg-gray);
// }

// .btn {
//   color: var(--color-text)
// }
